@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-tight: 'Bebas Neue', sans-serif;
  --font-sans: 'Inter Tight', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-tight), Arial, Helvetica, sans-serif;
}