* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: 100vh;
  overflow: clip;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.3;
}

.map{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 22.5vh;
  overflow: clip;
  background-color: #fff;
}

.content{
  height: 100%;
  width: 100%;
  position: relative;
  padding: 2vw;
}

.corner {
  position: absolute;
}

.corner.top-left {
  top: 2vw;
  left: 2vw;
}

.corner.top-right {
  top: 2vw;
  right: 2vw;
}

.corner.bottom-left {
  bottom: 2vw;
  left: 2vw;
}

.corner.bottom-right {
  bottom: 2vw;
  right: 2vw;
}

.asset{
  width: 15vw;
  height: 60%;
  background-color: #000;
  overflow: clip;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img{
  height: 100%;
  width: 100%;
  overflow: clip;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}