* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: 100vh;
  overflow: clip;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.5;
}

.map{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 35vh;
  overflow: clip;
  background-color: #fff;
}

.content{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
}

.asset{
  width: 15vw;
  height: 60%;
  background-color: #000;
  overflow: clip;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img{
  height: 100%;
  width: 100%;
  overflow: clip;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}