:root {
  --base-100: #fff;
  --base-200: #4f4f4f;
  --base-300: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Stylish', sans-serif;
  background-color: var(--base-300);
  color: var(--base-100);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 0.95;
  letter-spacing: -0.025rem;
}

.contact-visual {
  position: fixed;
  top: 0;
  Left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contact-visual .contact-icon {
  position: relative;
  width: 8rem;
  height: 8rem;
}

.contact-info {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  overflow: hidden;
}

.contact-info .contact-info-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  will-change: gap;
}

.contact-info .contact-info-row p {
  flex: 1;
}

.contact-info .contact-info-row p:nth-child(1) {
  text-align: right;
}

.contact-info .contact-info-row p:nth-child(2) {
  color: var(--base-200);
}

@media (max-width: 1000px) {
  p {
    font-size: 1rem;
  }

  .contact-visual .contact-icon {
    width: 4rem;
    height: 4rem;
  }
}