* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: 'PP Neue Montreal', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: 'PP Acma', sans-serif;
  font-size: 12vw;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.025em;
}

p {
  font-size: 17px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sticky {
  position: fixed;
  top: 0;
  left: 9;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}

.gallery-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 160vw;
  height: 100vh;
  display: flex;
  gap: 4em;
}

.col {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
  will-change: transform;
}

.img {
  flex: 1;
  overflow: hidden;
  background-color:#fff;
}

.img.main img {
  position: relative;
  transform: scale(2);
  will-change: transform;
}

.container {
  height: 100%;
  width: 100%;
}